body{
    padding: 0;
    margin: 0;
}
header{
    background: url("../image/backgroundpic.png") no-repeat center;
    background-color:rgba(0, 0, 0, 0.096);
    min-width: 100vw;
    max-width: 100vw;
    min-height: 83.59vh;
}

nav{
    min-height: 14.28vh;
    padding: 0vh 19.53vw 0vh 19.53vw;
    background-color:  transparent;
   }
.buildyourdreams{
    color: white;
    font: bold;
    display: flex;
    justify-content: center;
}
/* Second Half*/
.bottom_header{
    background: url("../image/background2.png") no-repeat center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 83.59vh;
}
title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Arial Black", Gadget, sans-serif;
    color: 20px solid black;
}
.content{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: 5px solid black;
}
.text_inside{
    text-align: center;
    display: flex;
    align-content: center;
    font-family: "Times New Roman", Times, serif;
    color: 1px solid black;
}
ul{ list-style-type: none; } 
.bottom_header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}